<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home Page</title>
  <link rel="stylesheet" href="../static/css/new.css">
</head>
<body>
    <header>
        <h1>Thyroid Disease Classification Using Machine Learning</h1>
    </header>

  <nav>
    <a href="/">home</a>
    <a href="/logina">Login</a>
  </nav>

  <div class="container2">
<center>
    <h2>home page</h2>
    <h1> Thyroid Disease Classification Using Machine Learning</h1>
</center>
  </div>
</body>
</html>
