<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>output Page</title>
  <link rel="stylesheet" href="../static/css/new.css">
</head>
<body>
    <header>
        <h1>Thyroid Disease Classification Using Machine Learning</h1>
    </header>

  <nav>
    <a href="/">home</a>
    <a href="/logina">Login</a>
    <a href="/predicta">Thyroid Disease Classification Predict</a>
    <a href="/logouta">Logout</a>
  </nav>

<div class="container3">

    <h1 class="h1">welcome user</h1>

</div>
</body>
</html>
