<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" href="../static/css/new.css">
</head>
<body>
    <header>
        <h1>Thyroid Disease Classification Using Machine Learning</h1>
    </header>

  <nav>
    <a href="/menu">home</a>
    <a href="/logina">Login</a>
  </nav>

  <div class="container">
    <h2>Login</h2>
    <form action="./register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" id="signup" value="register">
      <div>
        <p>Don't have an account? <a href="/logina">create new account</a></p>
        </div>
    </form>
  </div>
</body>
</html>
